body {
    background-color: #FA003F;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* RecipeWise heading is always in h1 on Sign in / Sign up pages. */

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1.5rem 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

a {
    font-size: 1rem;
    font-weight: bold;
}

/* Centering the content */
.centre {
    margin: auto;
    width: 50%;
    padding-top: 20px;
    text-align: center;
}

.alignLeft {
    display: inline-block;
    text-align: left;
}

/* Styling the text fields */
input[type=text] {
    margin: 6px;
    border-radius: 3rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    height: 35px;
    padding: 0px 20px;
}

input[type=text]:focus {
    outline: none;
}

/* Link to sign up page */
.signUpDiv {
    padding: 20px 0px 30px 0px;
}

.signUpLink {
    text-decoration: none;
    color: white;
}

.signUpLink:hover {
    text-decoration: underline;
}

/* Styling the button */
button {
    display: inline-block;
    border-radius: 3rem;
    background-color: #FA5D1F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: .8rem;
    height: 35px;
    padding: 0px 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  button:hover span {
    padding-right: 25px;
  }

  button:hover span:after {
    opacity: 1;
    right: 0;
  }